행정안전부 : https://www.mois.go.kr

In [1]:
import pandas as pd

#### 데이터 불러오기

In [3]:
# thousands : 숫자 천단위 자리 콤마 제외하고 불러옴
df = pd.read_csv('people_202101.csv', encoding = 'cp949', thousands = ',')
df.head(2)

,행정구역,2021년01월_계_총인구수,2021년01월_계_연령구간인구수,2021년01월_계_0세,2021년01월_계_1세,2021년01월_계_2세,2021년01월_계_3세,2021년01월_계_4세,2021년01월_계_5세,2021년01월_계_6세,...,2021년01월_계_91세,2021년01월_계_92세,2021년01월_계_93세,2021년01월_계_94세,2021년01월_계_95세,2021년01월_계_96세,2021년01월_계_97세,2021년01월_계_98세,2021년01월_계_99세,2021년01월_계_100세 이상
0,서울특별시 (1100000000),9657969,9657969,44249,49910,52741,56732,63560,68419,67870,...,8394,6867,5185,3741,2719,1998,1956,1495,1070,6853
1,서울특별시 종로구 (1111000000),149125,149125,464,588,564,663,761,841,833,...,194,164,123,105,83,57,54,58,44,276

#### 행정구역 정리

In [10]:
df['행정구역_시'] = df['행정구역'].apply(lambda x: x.split(' ')[0])
df['행정구역_구'] = df['행정구역'].apply(lambda x: x.split(' ')[1])
df['행정구역_동'] = df['행정구역'].apply(lambda x: x.split(' ')[2])
# df['행정구역_코드'] = df['행정구역'].apply(lambda x: x.split('(').rstrip(')')[3])

In [19]:
df2 = df[df['행정구역'] == '서울특별시 관악구 신림동(1162069500)']
df2

,행정구역,2021년01월_계_총인구수,2021년01월_계_연령구간인구수,2021년01월_계_0세,2021년01월_계_1세,2021년01월_계_2세,2021년01월_계_3세,2021년01월_계_4세,2021년01월_계_5세,2021년01월_계_6세,...,2021년01월_계_94세,2021년01월_계_95세,2021년01월_계_96세,2021년01월_계_97세,2021년01월_계_98세,2021년01월_계_99세,2021년01월_계_100세 이상,행정구역_시,행정구역_구,행정구역_동
355,서울특별시 관악구 신림동(1162069500),21831,21831,42,43,29,47,39,37,40,...,5,3,1,1,1,3,16,서울특별시,관악구,신림동(1162069500)

#### 불필요 컬럼 삭제

In [20]:
df2 = df2.drop(['행정구역','2021년01월_계_총인구수','2021년01월_계_연령구간인구수','행정구역_시','행정구역_구'], axis = 1)
df2

,2021년01월_계_0세,2021년01월_계_1세,2021년01월_계_2세,2021년01월_계_3세,2021년01월_계_4세,2021년01월_계_5세,2021년01월_계_6세,2021년01월_계_7세,2021년01월_계_8세,2021년01월_계_9세,...,2021년01월_계_92세,2021년01월_계_93세,2021년01월_계_94세,2021년01월_계_95세,2021년01월_계_96세,2021년01월_계_97세,2021년01월_계_98세,2021년01월_계_99세,2021년01월_계_100세 이상,행정구역_동
355,42,43,29,47,39,37,40,21,29,32,...,8,6,5,3,1,1,1,3,16,신림동(1162069500)

In [ ]:
df3 = df2.melt()

In [ ]:
import matplotlib.pyplot as plt

plt.plot(df3)
plt.show()

In [ ]:
plt.bar(range(101), df3['value'])
plt.show()